.success{
    background-color: rgb(166, 201, 150);
    border-radius: 0.5em;
    text-align: center;
}

#success, #message-container, #login-message-container, #categorieError-container, #entriesError-container{
    display: none;
}